### Impedir que se pueda ver el listado de contenidos de un directorio
##
Options All -Indexes
##
### Url Amigables
##
RewriteEngine On
#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
##
##
##
RewriteRule ^([a-zA-Z0-9/-]+)$ index.php?ruta=$1
##
#ErrorDocument 400 https://hellomarket.com.mx/errors
#ErrorDocument 401 https://hellomarket.com.mx/errors
#ErrorDocument 403 https://hellomarket.com.mx/errors
#ErrorDocument 404 https://hellomarket.com.mx/errors
#ErrorDocument 500 https://hellomarket.com.mx/errors
#ErrorDocument 503 https://hellomarket.com.mx/errors